# connessione database
spring.application.name=****
spring.datasource.url=jdbc:mysql:****
spring.datasource.username=****
spring.datasource.password=****
spring.datasource.driver-class-name=****

# connessione supabase
supabase.url=****
supabase.key=****
supabase.bucket=****
supabase.image=****

# connessione mailtrap
spring.mail.host=****
spring.mail.port=****
spring.mail.username=****
spring.mail.password=****
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true
