<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<head>
    <title>Crea categoria</title>
</head>

<body>
    <section layout:fragment="content" class="container min-vh-100">
        <div class="card p-md-5 shadow my-5 w-form">
            <div class="card-header">
                <h2 class="text-center my-5">Crea categoria</h2>
            </div>
            <div class="card-body">
                <form method="POST" role="form" th:action="@{/categories}" th:object="${category}">
                    <div class="form-outline my-3">
                        <label class="form-label" for="name">Nome categoria</label>
                        <input type="text" id="name" class="form-control form-control-lg" name="name" th:field="*{name}"/>
                        <div th:errors="*{name}" class="invalid-feedback" th:if="${#fields.hasErrors('name')}"></div>
                    </div>
                    <div class="d-flex flex-column my-5 gap-3">
                        <button class="btn btn-primary py-2 w-50 mx-auto" type="submit">Crea categoria</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>